*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-width: 375px;
  max-width: 760px;
  background-color: whitesmoke;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #fff;
}

main {
  background-color: white;
  margin-top: 60px;
}

section {
  margin-top: 5px;
}

.navbar{
  position: fixed;
  width: 100%;
  top: 0;
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 50px;
  background-color: white;
  border: 1px solid rgb(240, 234, 234);
  border-bottom: none;
}

.top-navbar-row ul {
  display: none;
}

.tnw-logo-container{
  background-image: url('./assets/images/tnw-logo.png');
  background-size: cover;
  background-position: center center;
}

.icons-container {
  display: flex;
  justify-content: flex-end;
  width: 100% !important;
}

.icons-container > div {
  text-align: center;
  width: 50px;
  height: 50px;
  border-left: 1px solid rgb(240, 234, 234);
}

.icon-menu, .icon-search {
  font-size: 23px !important;
  margin-top: 15px;
}

.icon-search {
  color: lightgray;
}

.icon-menu {
  color: tomato;
}

/* <<<< NEWS HIGHLIGHTS >>>> */

.news-highlights {
  display: grid;
  height: 600px;
  grid-auto-rows: repeat(3, 200px);
  grid-row-gap: 5px;
}

.news-highlights > div {
  background-color: blue;
  margin: 0 5px;
}

/* <<<< LATEST NEWS >>>> */

.latest-news {
  display: grid;
  grid-row-gap: 10px;
}

.latest-news-segments {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 10px;
}

.latest-news-pic {
  background: blue;
}

.latest-news-segments span {
  color: lightgray;
}

.rounds {
  margin: auto 20px ;
}

.title-div {
  height: 40px;
  background-color: #ff4422;
  color: white;
}

.title-div > p {
  margin: 40px auto auto 70px;
  font-size: 20px;
}

.round-info-div {
  height: 60px;
  background-color: rgba(255, 68, 34, 0.08);
}

.round-img {
  float: left;
  width: 60px;
  height: 60px;
  background-color: thistle;
  margin: 10px;
}

.investment-card {
  border-bottom: 1px solid  #ff4422;
}

.popular {
  height: 251px;
  color: white;
  background-image: url('./assets/images/popular.png');
  position: relative;
}

hr {
  border: 1px solid lightgray;
}


/* <<< APPS SECTION >>>> */

.app-main, .gear-main,
.tech-main, .creative-main,
.podium-main, .insights-main,
.launch-main, .distract-main {
  display: grid;
  grid-row-gap: 10px;
}

.latest-app-img {
  background: url('./assets/images/tiger-smaller-gear.jpg');
  background-size: cover;
}

/* <<< GEAR SECTION >>>> */
.gear-main-pic {
  background: url('./assets/images/laptop-gear.jpg');
  height: 251px;
  color: #fff;
  position: relative;
}

.most-popular {
  position: absolute;
  bottom: 30px;
  left: 10px;
}

.latest-gear, .latest-app,
.latest-tech, .latest-creative, 
.latest-podium, .latest-insights, 
.latest-launch, .latest-distract{
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.gear-small-img {
  background: url('./assets/images/tiger-smaller-gear.jpg');
  background-size: cover;
}

/*<<< TECH SECTION >>> */

.tech-main-pic {
  background: url('./assets/images/tech-car.jpg');
  height: 251px;
  color: #fff;
  position: relative;
}

.tech-small-img {
  background: url('./assets/images/tiger-smaller-gear.jpg');
  background-size: cover;
}

/*<<< CREATIVE SECTION >>> */

.creative-main-pic {
  background: url('./assets/images/creative.jpg');
  height: 251px;
  color: #fff;
  position: relative;
}

.creative-small-img {
  background: url('./assets/images/tiger-smaller-gear.jpg');
  background-size: cover;
}


/* <<< CREATIVE SECTION >>> */

.podium-main-pic {
  background: url('./assets/images/podium.jpg');
  background-size: cover;
  height: 251px;
  color: #fff;
  position: relative;
}

.podium-small-img {
  background: url('./assets/images/tiger-smaller-gear.jpg');
  background-size: cover;
}

/* <<< INSIGHTS SECTION >>> */

.insights-main-pic {
  background: url('./assets/images/insights.jpg');
  background-size: cover;
  height: 251px;
  color: #fff;
  position: relative;
}

.insights-small-img {
  background: url('./assets/images/tiger-smaller-gear.jpg');
  background-size: cover;
}

/* <<< LAUNCH SECTION >>> */

.launch-main-pic {
  background: url('./assets/images/insights.jpg');
  background-size: cover;
  height: 251px;
  color: #fff;
  position: relative;
}

.launch-small-img {
  background: url('./assets/images/tiger-smaller-gear.jpg');
  background-size: cover;
}

/* <<< DISTRACT SECTION >>> */

.distract-main-pic {
  background: url('./assets/images/insights.jpg');
  background-size: cover;
  height: 251px;
  color: #fff;
  position: relative;
}

.distract-small-img {
  background: url('./assets/images/tiger-smaller-gear.jpg');
  background-size: cover;
}

/* <<< DEALS SECTION >>> */
.deals {
  display: grid;
  grid-row-gap: 5px;
}

.deals > header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  color: tomato;
}

.deal-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 20px;
}

.deal-pic {
  background: url('./assets/images/deals.jpg');
  height: 80px;
  background-size: cover;
}

.old-price {
  color: grey;
  text-decoration: line-through;
  margin-right: 15px;
}

/* FOOTER SECTION */

footer {
  background: black;
  height: 110px;
}

div.socials {
  display: flex;
  margin-left: 20px;
}

.socials > a {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background: #222;
  display: grid;
  align-items: center;
  justify-content: center;
  margin: 25px 3px 5px 3px;
}

.footer-links {
  margin: 10px 5px 5px 33px;
}

.footer-links > a {
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  color: #979797;
  margin-right: 5px;
}


/* MEDIA QUERIES */

@media (min-width: 768px) and (max-width: 1024px)  {

  body {
    max-width: 780px;
  }

  .icons-container i {
    display: none;
  }

  .icons-container div {
    border-left: none;
  }
  
  .navbar {
    font-family: monospace;
    height: 80px;
    width: 100%;
    grid-template-columns: 1fr 4fr;
  }

  .icons-container {
    height: 80px;
    flex-direction: column;
  }
  
  .top-navbar-row {
    background: #000000;
    height: 35px !important;
    width: 100% !important;
  }

  .top-navbar-row ul, .second-navbar-row ul {
    list-style: none;
    display: inline-block;
    margin-top: 9px;
  }
  
  .top-navbar-row ul > li {
    display: inline-block;
    color: #f3f3f3;
    font-size: 0.9em;
    margin-right: 4px;

  }

  .second-navbar-row {
    background-color: #fff;
    height: 45px !important;
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    color: lightslategray;
    font-size: 1.1em;
    font-weight: bold;
  }

  .second-navbar-row ul > li {
    display: inline-block;
    margin-right: 10px;
  }


  /* news highlights */

  .large-pic {
    grid-area: large-pic;
  }

  .top-right-pic {
    grid-area: top-right-pic;
  }

  .bottom-right-pic {
    grid-area: bottom-right-pic;
  }

  .news-highlights {
    grid-template-areas: 
    "large-pic  large-pic top-right-pic"
    "large-pic  large-pic bottom-right-pic";
  }

} 